</section>
<div class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container" style="background:#000000">
        <br><br>
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://localhost:3000/public/images/bg.jpg" alt="Unsplashed background img 2" style="bottom: -397.81933295107px; display: block;"></div>
  </div>
<footer class="page-footer grey lighten-5">
<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5>mmz的个人博客</h5>
            <p>nodejs强力驱动</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5>友情链接</h5>
            <ul>
                <li>
                    <a href="#!">baidu</a>
                </li>
                <li>
                    <a href="#!">google</a>
                </li>
                <li>
                    <a href="#!">suning</a>
                </li>
                <li>
                    <a href="#!">taobao</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright white">
    <div class="container">
        © 2015 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">mmz</a>
    </div>
</div>
</footer>
<script type="text/javascript">
(function($){
  $(function(){

    $('.button-collapse').sideNav();
    $('.parallax').parallax();
  }); // end of document ready
})(jQuery); // end of jQuery name space
</script>
</article>
</body>
</html>
