</section>
<footer class="page-footer grey lighten-5">
<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5>mmz的个人博客</h5>
            <p>nodejs强力驱动</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5>友情链接</h5>
            <ul>
                <li>
                    <a href="#!">baidu</a>
                </li>
                <li>
                    <a href="#!">google</a>
                </li>
                <li>
                    <a href="#!">suning</a>
                </li>
                <li>
                    <a href="#!">taobao</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright white">
    <div class="container">
        © 2015 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">mmz</a>
    </div>
</div>
</footer>
<script type="text/javascript">
$(function() {
    $(".button-collapse").sideNav();
});
</script>
</article>
</body>
</html>
