<%- include header %>
<form method="post">
    用户名：<input name="name" type="text"/><br/>
    密码：
    <input name="password" type="password"/><br/>
    <input type="submit" value="登录"/>
</form>
<%- include footer %>
