<%- include header %>
<div class="row">
  <form class="col s12" method="post" id="loginForm">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">perm_identity</i>
        <input type="text" name="name" class="validate">
        <label>用户名：</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">lock_outline</i>
        <input type="password" name="password" class="validate">
        <label>密码：</label>
      </div>
    </div>
    <a type="submit" class="waves-effect waves-light btn-large" id="loginSubmit">登入..</a>
  </form>
</div>

<script type="text/javascript">
        $('#loginSubmit').on('click',function(){
            $('#loginForm').submit();
        });
</script>
<%- include footer %>
