<%- include header %>
<form method="post">
    标题：<br/>
    <input name="title" type="text"/><br/>
    标签：<br/>
    <input name="tag1" type="text"/><input name="tag2" type="text"/><input name="tag3" type="text"/><br/>
    正文：<br/>
    <textarea cols="100" name="post" rows="20"></textarea><br/><input type="submit" value="发表"/>
</form>
<%- include footer %>
