<%- include header %>
<form method="post">
    用户名：
    <input name="name" type="text"/><br/>
    密码：
    <input name="password" type="password"/><br/>
    确认密码：<input name="password-repeat" type="password"/><br/>
    邮箱：
    <input name="email" type="email"/><br/>
    <input type="submit" value="注册"/>
</form>
<%- include footer %>
