<%- include header %>
<form action='/upload' enctype='multipart/form-data' method='post'>
    <input name='file1' type="file"/><br>
    <input name='file2' type="file"/><br>
    <input name='file3' type="file"/><br>
    <input name='file4' type="file"/><br>
    <input name='file5' type="file"/><br>
    <input type="submit"/>
</form>
<%- include footer %>
