/* inspired by http://yihui.name/cn/ */
*{padding:0;margin:0;}
body{width: 70%;margin:2em auto;padding:0 2em;font-size:14px;font-family:"Microsoft YaHei";}
p{line-height:24px;margin:1em 0;}
header{padding:.5em 0;border-bottom:1px solid #cccccc;}
nav{font-family:"Microsoft YaHei";font-size:1.1em;text-transform:uppercase;margin-left:-12em;text-align:right;}
nav span{width: 9em;}
nav a{text-decoration:none;padding:.7em 1em;color:#000000;}
nav a:hover{background-color:#44a5ac;color:#f9f9f9;-webkit-transition:color .2s linear;}
article{font-size:16px;padding-top:.5em;}
article a{color:#44a5ac;text-decoration:none;}
article a:hover{text-decoration:underline;}
.info{font-size:14px;}
